<!DOCTYPE html>
<html lang="{{.Lang}}">
<head>
    <title>{{.Title}}</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="/static/favicon.png" type="image/png"/>
    <link rel="stylesheet" href="/static/pure.css">
    <link rel="stylesheet" href="/static/style.css?2">
    <link rel="stylesheet" href="/static/photoswipe.css">
    <link rel="stylesheet" href="/static/photoswipe-dynamic-caption-plugin.css">

    <script src="/static/jquery-3.6.3.min.js"></script>
    <script src="/static/client.js"></script>
    <script src="/static/photoswipe.umd.min.js"></script>
    <script src="/static/photoswipe-lightbox.umd.min.js"></script>
    <script src="/static/photoswipe-dynamic-caption-plugin.umd.min.js"></script>
    <script src="/static/blurhash.js"></script>
    <script src="/static/album.js"></script>

    <meta property="og:title" content="{{.Title}}"/>
    <meta property="og:type" content="website"/>
    <meta property="og:image" content="{{.CoverImage}}"/>

    <meta name="robots" content="noindex">

    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.3/dist/leaflet.css"
          integrity="sha256-kLaT2GOSpHechhsozzB+flnD+zUyjE2LlfWPgU04xyI="
          crossorigin=""/>
    <!-- Make sure you put this AFTER Leaflet's CSS -->
    <script src="https://unpkg.com/leaflet@1.9.3/dist/leaflet.js"
            integrity="sha256-WBkoXOwTeyKclOHuWtc+i2uENFpDZ9YPdf5Hf+D7ewM="
            crossorigin=""></script>

    <style>
        /*{{if .NonAdmin}}*/
        .control-panel {
            display: none !important;
        }
        /*{{else}}*/
        .not-control-panel {
            display: none !important;
        }
        /*{{end}}*/
    </style>
</head>
<body class="dark-mode">

<div class="main">
    <h1 id="album-title">{{.Title}}</h1>

    <div id="featured" class="grid"></div>
    <script>
        loadAlbum({
            albumName: "{{.Featured}}",
            gallery: "#featured",
            baseUrl: "/",
            albumData: {{.FeaturedAlbumData}},
        });
    </script>

    {{range $k, $a := .Albums}}
    <h3 id="{{$a.Album.Name}}">{{if not $a.Album.Public}}
        <div class="ctrl-btn lock-icon" title="URL required to access this album, please share responsibly."></div>
        {{end}} <a href="/{{$a.Album.Name}}/">{{$a.Album.Title}}</a></h3>
    <div id="a{{$a.Album.Hash}}" class="grid preview"></div>
    <script>
        loadAlbum({
            albumName: "{{$a.Album.Name}}",
            gallery: "#a{{$a.Album.Hash}}",
            baseUrl: "/",
            albumData: {{$a}},
        });
    </script>
    {{end}}

    <div style="margin-top: 30px">
        <a title="Settings" class="control-panel ctrl-btn gear-icon" href="/edit/settings.html"></a>
        <a title="Add Album" class="control-panel ctrl-btn film-icon" href="/add-album.html"></a>
        <a title="Log out" class="control-panel ctrl-btn lock-icon" href="#logout" onclick="window.location = window.location.href.replace(window.location.protocol + '//', window.location.protocol + '//' + 'logout:password@')"></a>
        <a title="Log in" class="not-control-panel ctrl-btn unlock-icon" href="/login"></a>
    </div>
</div>

</body>
</html>