<!DOCTYPE html>
<html lang="{{.Lang}}">
<head>
    <title>{{.Title}}</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="{{.Favicon}}" type="image/png"/>
    <link rel="stylesheet" href="/static/pure.css">
    <link rel="stylesheet" href="/static/style.css">
    <link rel="stylesheet" href="/static/menu.css">
    <link rel="stylesheet" href="/static/photoswipe/photoswipe.css">
    <link rel="stylesheet" href="/static/photoswipe/photoswipe-dynamic-caption-plugin.css">

    <script src="/static/jquery-3.6.3.min.js"></script>
    <script src="/static/client.js"></script>
    <script src="/static/photoswipe/photoswipe.umd.min.js"></script>
    <script src="/static/photoswipe/photoswipe-lightbox.umd.min.js"></script>
    <script src="/static/photoswipe/photoswipe-dynamic-caption-plugin.umd.min.js"></script>
    <script src="/static/blurhash.js"></script>
    <script src="/static/js.cookie.min.js"></script>
    <script src="/static/app.js"></script>
    <script src="/static/album_extra.js"></script>
    <script src="/static/album.js"></script>

    <meta property="og:title" content="{{.Title}}"/>
    <meta property="og:type" content="website"/>
    <meta property="og:image" content="{{.CoverImage}}"/>

    <link rel="stylesheet" href="/static/leaflet/leaflet-1.9.3.css" />
    <script src="/static/leaflet/leaflet-1.9.3.js"></script>

    <style>
        /*{{if .IsAdmin}}*/
        .not-control-panel {
            display: none !important;
        }
        /*{{else}}*/
        .control-panel {
            display: none !important;
        }
        /*{{end}}*/
    </style>
{{.Head}}
</head>
<body class="dark-mode">
{{.Header}}

<div id="layout" class="main">
    <!-- Menu toggle -->
    <a href="#menu" id="menuLink" class="menu-link">
        <!-- Hamburger icon -->
        <span></span>
    </a>

    <div id="menu">
        <div class="pure-menu">
            <ul class="pure-menu-list">
                <li class="pure-menu-item"><a href="/" class="pure-menu-link">Home</a></li>
                <li class="pure-menu-item control-panel"><a title="Settings" class="pure-menu-link" href="/edit/settings.html">Settings</a></li>
                <li class="pure-menu-item control-panel"><a title="Add Album" class="pure-menu-link" href="/add-album.html">Add Album</a></li>
                {{ if .Secure }}
                <li class="pure-menu-item control-panel"><a title="Log out" class="pure-menu-link" href="/" onclick="window.location = window.location.href.replace(window.location.protocol + '//', window.location.protocol + '//' + 'logout:password@')">Log out</a></li>
                {{ if .ShowLoginButton }}
                <li class="pure-menu-item not-control-panel"><a title="Log in" class="pure-menu-link" href="/login">Log in</a></li>
                {{ end }}
                {{ else }}
                <li class="pure-menu-item"><a title="Enable Admin Password" class="pure-menu-link" href="/edit/password.html">Set Password</a></li>
                {{ end }}
                <li class="pure-menu-item control-panel"><a title="Help" class="pure-menu-link" href="/help/">Help</a></li>
                <li class="pure-menu-item"><a title="Favorite Photos" class="pure-menu-link" href="/favorite-photos/">Favorite Photos</a></li>
                <li class="pure-menu-item"><a title="About" class="pure-menu-link" href="/about/">About</a></li>
            </ul>
        </div>
    </div>

    <h1 class="main-title">{{.Title}}</h1>

    <div id="exif-container" class="exif"></div>

    <div id="{{.Featured}}" class="grid"></div>
    <script>
        featured = {{.Featured}}
        collectStats({main: 1});
        loadAlbum({
            albumName: "{{.Featured}}",
            gallery: "#{{.Featured}}",
            baseUrl: "/",
            thumbBaseUrl: "{{.ThumbBaseURL}}",
            imageBaseUrl: "{{.ImageBaseURL}}",
            albumData: {{.FeaturedAlbumData}},
        });
    </script>

    {{range $k, $a := .Albums}}
    <h3 id="{{$a.Album.Name}}">{{if not $a.Album.Public}}
        <div class="ctrl-btn lock-icon" title="URL required to access this album, please share responsibly."></div>
        {{end}} <a href="/{{$a.Album.Name}}/">{{$a.Album.Title}}</a></h3>
    <div id="a{{$a.Album.Hash}}" class="grid preview"></div>
    <script>
        loadAlbum({
            albumName: "{{$a.Album.Name}}",
            gallery: "#a{{$a.Album.Hash}}",
            baseUrl: "/",
            thumbBaseUrl: "{{$.ThumbBaseURL}}",
            imageBaseUrl: "{{$.ImageBaseURL}}",
            albumData: {{$a}},
        });
    </script>
    {{end}}

    <script>
        collectThumbVisibility();
    </script>

    <div style="margin-top: 30px">
        <a title="Settings" class="control-panel ctrl-btn gear-icon" href="/edit/settings.html"></a>
        <a title="Add Album" class="control-panel ctrl-btn film-icon" href="/add-album.html"></a>
        {{ if .Secure }}
        <a title="Log out" class="control-panel ctrl-btn lock-icon" href="/" onclick="window.location = window.location.href.replace(window.location.protocol + '//', window.location.protocol + '//' + 'logout:password@')"></a>
        {{ if .ShowLoginButton }}
        <a title="Log in" class="not-control-panel ctrl-btn unlock-icon" href="/login"></a>
        {{ end }}
        {{ else }}
        <a title="Enable Admin Password" class="ctrl-btn alert-icon" href="/edit/password.html"></a>
        {{ end }}
        <a title="Help" class="control-panel ctrl-btn help-icon" href="/help/"></a>
    </div>
</div>

{{.Footer}}

<script src="/static/menu.js"></script>
</body>
</html>