<!DOCTYPE html>
<html lang="{{.Lang}}">
<head>
    <title>{{.Title}}</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="{{.Favicon}}" type="image/png"/>
    <link rel="stylesheet" href="/static/pure.css">
    <link rel="stylesheet" href="/static/style.css">
    <link rel="stylesheet" href="/static/menu.css">
    <link rel="stylesheet" href="/static/photoswipe/photoswipe.css">
    <link rel="stylesheet" href="/static/photoswipe/photoswipe-dynamic-caption-plugin.css">

    <script src="/static/jquery-3.6.3.min.js"></script>
    <script src="/static/client.js"></script>
    <script src="/static/photoswipe/photoswipe.umd.min.js"></script>
    <script src="/static/photoswipe/photoswipe-lightbox.umd.min.js"></script>
    <script src="/static/photoswipe/photoswipe-dynamic-caption-plugin.umd.min.js"></script>
    <script src="/static/photoswipe/photoswipe-auto-hide-ui.umd.min.js"></script>
    <script src="/static/photoswipe/photoswipe-slideshow.umd.min.js"></script>
    <script src="/static/photoswipe/photoswipe-video-plugin.umd.min.js"></script>
    
    <script src="/static/blurhash.js"></script>
    <script src="/static/js.cookie.min.js"></script>
    <script src="/static/app.js"></script>
    <script src="/static/album_extra.js"></script>
    <script src="/static/album.js"></script>

    <meta property="og:title" content="{{.Title}}"/>
    <meta property="og:type" content="website"/>
    <meta property="og:image" content="{{.CoverImage}}"/>
    <meta property="og:image:width" content="1200" />
    <meta property="og:image:height" content="800" />
    <meta property="og:image:type" content="image/jpeg" />
    <meta name="twitter:card" content="summary_large_image" />

    <link rel="stylesheet" href="/static/leaflet/leaflet-1.9.3.css" />
    <script src="/static/leaflet/leaflet-1.9.3.js"></script>

    <style>
        /*{{if .IsAdmin}}*/
        .not-control-panel {
            display: none !important;
        }
        /*{{else}}*/
        .control-panel {
            display: none !important;
        }
        /*{{end}}*/
    </style>
{{.Head}}
</head>
<body class="dark-mode">
{{.Header}}

<div id="layout" class="main">
    <!-- Menu toggle -->
    <a href="#menu" id="menuLink" class="menu-link">
        <!-- Hamburger icon -->
        <span></span>
    </a>

    <div id="menu">
        <div class="pure-menu">
            <ul class="pure-menu-list">
                {{range $k, $item := .MainMenu}}
                <li class="pure-menu-item"><a href="{{$item.URL}}" class="pure-menu-link">{{$item.Text}}</a></li>
                {{end}}

                {{ if .IsAdmin }}
                <li class="pure-menu-item control-panel"><a class="pure-menu-link" href="/edit/settings.html">Settings</a></li>
                <li class="pure-menu-item control-panel"><a class="pure-menu-link" href="/add-album.html">Add Album</a></li>
                <li class="pure-menu-item control-panel"><a class="pure-menu-link" href="/help/">Help</a></li>
                {{ end }}

                {{ if .Secure }}
                    {{ if .ShowLoginButton }}
                <li class="pure-menu-item not-control-panel"><a class="pure-menu-link" href="/login">Log in</a></li>
                    {{ end }}

                    {{ if .IsAdmin }}
                <li class="pure-menu-item control-panel"><a class="pure-menu-link" href="/" onclick="window.location = window.location.href.replace(window.location.protocol + '//', window.location.protocol + '//' + 'logout:password@')">Log out</a></li>
                    {{ end }}

                {{ else }}
                <li class="pure-menu-item"><a class="pure-menu-link" href="/edit/password.html">Set Password</a></li>
                {{ end }}
            </ul>
        </div>
    </div>

    <h1 class="main-title">{{.Title}}</h1>

    <div id="exif-container" class="exif"></div>

    <div id="{{.Featured}}" class="grid"></div>
    <script>
        featured = {{.Featured}}
        loadAlbum({
            albumName: "{{.Featured}}",
            gallery: "#{{.Featured}}",
            baseUrl: "/",
            thumbBaseUrl: "{{.ThumbBaseURL}}",
            imageBaseUrl: "{{.ImageBaseURL}}",
            albumData: {{.FeaturedAlbumData}},
        });
    </script>

    {{range $k, $a := .SubAlbums}}
    <h3 id="{{$a.Album.Name}}">{{if not $a.Album.Public}}
        <div class="ctrl-btn lock-icon" title="URL required to access this album, please share responsibly."></div>
        {{end}} <a href="/{{$a.Album.Name}}/">{{$a.Album.Title}}</a></h3>
    <div id="a{{$a.Album.Hash}}" class="grid preview"></div>
    <script>
        loadAlbum({
            albumName: "{{$a.Album.Name}}",
            gallery: "#a{{$a.Album.Hash}}",
            baseUrl: "/",
            thumbBaseUrl: "{{$.ThumbBaseURL}}",
            imageBaseUrl: "{{$.ImageBaseURL}}",
            albumData: {{$a}},
        });
    </script>
    {{end}}

    {{if not .IsBot}}
    <script>
        collectStats({main: 1});
        collectThumbVisibility();
    </script>
    {{end}}
</div>

{{.Footer}}

<script src="/static/menu.js"></script>
</body>
</html>